* {
	box-sizing: border-box;
}
h1 {
	text-align: center;
	margin: 30px;
}
.row {
  margin-bottom: 15px;
}
.row > div {
  background-color: gray;
  border: 10px solid white;
  padding: 2px;
}
p {
	margin-left: 2px;
	margin-right: 2px;
}
#p2 {
	position: relative;
	top: 10px;
}
/*p.p1 {
	font-size: 120%;
	border: 1px solid black;
	background-color: #FFB6C1;
	text-align: center;
	float: right;
	width: 30%;
}*/
p.p2 {
	color: #FFFFFF;
	font-size: 120%;
	border: 1px solid black;
	background-color: #CC0000;
	text-align: center;
	float: right;
	width: 30%;
	position: absolute;
	top: 0;
	right: 0;
}
p.p3 {
	font-size: 120%;
	border: 1px solid black;
	background-color: #FF9900;
	text-align: center;
	float: right;
	width: 30%;
}
div.title {
	float: right;
}